/* --------------- CSS Reset ----------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Ubuntu:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ---------------------------------------------- */
/* -----------------Setup fonts------------------ */
/* ----------------\/\/\/\/\/\/------------------ */
/* -----------------Setup FontFace------------------ */
@font-face {
  font-family: "mediasansextended-bold";
  src: url("../fonts/mediasansextended-bold-TRIAL.otf") format("opentype");
}
@font-face {
  font-family: "mediasansextended-black";
  src: url("../fonts/mediasansextended-black-TRIAL.otf") format("opentype");
}
@font-face {
  font-family: "maisonneueextended-extrabold";
  src: url("../fonts/MaisonNeueExtendedExtra-Bold.otf") format("opentype");
}
/* -----------------End Setup FontFace--------------- */
/* --------------Variable--------------- */
/* --------------End Variable----------- */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #0065c3, #0065c3, #a6ffcb);
}

body::-webkit-scrollbar-track {
  background-color: #0065c3;
}

.g-cursor__circle {
  position: fixed;
  top: 5px;
  left: 6px;
  width: 17px;
  height: 17px;
  pointer-events: none;
  user-select: none;
  border-radius: 100%;
  background: #ff00ea;
  background-size: cover;
  z-index: 999999999;
  backface-visibility: hidden;
  will-change: transform;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* --------------Header section--------------- */
/* --------------Header section--------------- */
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  user-select: none;
}
#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0);
  transition: 0.3s ease background-color;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-bar .brand {
  width: 200px;
}
#header .nav-bar .brand .logo {
  display: flex;
  align-items: center;
}
#header .nav-bar .brand .word {
  transform: scale(1.5);
  margin-left: 15px;
  pointer-events: none;
}
#header .nav-bar .brand img {
  width: 40px;
  transition: 0.5s ease;
}
#header .nav-bar .brand img:hover {
  transform: rotate(360deg);
  animation-duration: 0.5s;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #0065c3;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul li {
  position: relative;
  margin-left: 40px;
}
#header .nav-list ul li::before {
  content: "";
  position: absolute;
  background: #adddf3;
  width: 0;
  height: 3px;
  bottom: 0px;
  left: 0px;
  transition: 0.3s ease;
  border-radius: 25px;
}
#header .nav-list ul li:hover::before {
  width: 100%;
}
#header .nav-list ul a {
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  display: block;
  font-family: "Ubuntu";
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #20186d45;
  font-size: 7rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul .stand a {
  color: #20186d;
}
#header .nav-list ul .stand::before {
  content: "";
  position: absolute;
  background: #adddf3;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0px;
  transition: 0.3s ease;
  border-radius: 25px;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .hamburger {
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 20px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: #20186d;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

/* -------------------End Header section---------------- */
/* --------------End Header section----------- */
/* -----------Content Page 1------------------ */
#page_1 h3 {
  color: #20186d;
  font-size: 87px;
  font-family: "mediasansextended-black";
  letter-spacing: 1.49px;
  line-height: 1.15;
  margin: 20px 128px 20px 128px;
}

.content {
  background-image: url("../img/bluebg.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  transition: 0.5s;
}
.content .content_layout {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.content .content_layout .content_right {
  display: block;
  height: auto;
  animation: 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s forwards elastic-ease-out-right, 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s forwards linear-fade-in;
}
.content .content_layout .content_right .pepsi_can {
  max-width: 100%;
  height: auto;
}
.content .content_layout .content_left {
  animation: 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s forwards elastic-ease-out-left, 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s forwards linear-fade-in;
}
.content .content_layout .content_left h1 {
  font-size: 100px;
  color: white;
  font-weight: 900;
  line-height: 1.1;
  width: 530px;
  user-select: none;
  font-family: "mediasansextended-bold";
  letter-spacing: 7px;
  word-spacing: -5px;
}
.content .content_layout .content_left h1 .that_word {
  animation: blinker 4s;
  animation-iteration-count: 1;
  animation-delay: 0.7s;
}
.content .content_layout .content_left h1 .what_word {
  animation: blinker 3s;
  animation-iteration-count: 1;
  animation-delay: 0.6s;
}
.content .content_layout .content_left h1 .ilike_word {
  animation: blinker 5s;
  animation-iteration-count: 1;
  animation-delay: 0.8s;
}
.content .content_layout .content_left .pick {
  list-style: none;
  width: 390px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
.content .content_layout .content_left .pick li {
  transition: 0.5s ease;
  cursor: pointer;
}
.content .content_layout .content_left .pick li:hover {
  transform: translateY(-15px);
}
.content .content_layout .content_left .pick img {
  max-width: 60px;
}

/* ---------------Button--------------- */
/* ---------------Button--------------- */
.buttons {
  margin-top: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 7px 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
  font-family: "Poppins";
  letter-spacing: 1px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
  border-radius: 25px;
}
.blob-btn:hover {
  color: #0065c3;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #ffffff;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

/* ---------------End Button--------------- */
/* ---------------End Button--------------- */
/* ---------------End Content Page 1--------------- */
/* --------------- Content Page 2--------------- */
.content_2 {
  display: flex;
  overflow: hidden;
  margin-top: 100px;
}
.content_2 .cover_left {
  width: 50%;
  height: fit-content;
  overflow: hidden;
}
.content_2 .cover_left h3 {
  color: #20186d;
  font-size: 30px;
  font-family: "mediasansextended-black";
  letter-spacing: 1.49px;
  line-height: 1.15;
  margin: 20px 0 20px 40px;
}
.content_2 .content_2-left {
  position: relative;
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/pepsishanghai.png");
  overflow: hidden;
}
.content_2 .content_2-left .shanghai_hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 2;
  background-color: #3ce2cc00;
  transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  backdrop-filter: blur(26px);
  opacity: 0;
}
.content_2 .content_2-left .shanghai_hover .shanghai_word {
  display: none;
}
.content_2 .content_2-left .shanghai_hover .shanghai_word .text_shanghai {
  opacity: 0;
  color: white;
  font-size: 14px;
  letter-spacing: 1.34px;
  font-family: "mediasansextended-bold";
  margin-bottom: 30px;
  transition: opacity 3s cubic-bezier(0.19, 1, 0.22, 1) 0.05s;
  padding-left: 2px;
}
.content_2 .content_2-left .shanghai_hover .shanghai_word .text_shanghai-2 {
  width: 590px;
  opacity: 0;
  color: white;
  font-size: 38.5px;
  line-height: 1.19;
  letter-spacing: -0.5px;
  font-family: "maisonneueextended-extrabold";
  font-weight: 500;
  margin-bottom: 200px;
  transition: opacity 3s cubic-bezier(0.19, 1, 0.22, 1) 0.05s;
}
.content_2 .content_2-left .shanghai_hover .shanghai_word .text_shanghai-3 {
  position: relative;
  width: fit-content;
  color: white;
  font-size: 18px;
  font-family: "maisonneueextended-extrabold";
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0;
}
.content_2 .content_2-left .shanghai_hover .shanghai_word .text_shanghai-3::after {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background-color: white;
}
.content_2 .content_2-left:hover .shanghai_hover {
  width: 100%;
  height: 100%;
  padding: 228px 0px 0px 40px;
  opacity: 1;
}
.content_2 .content_2-left:hover .shanghai_hover .shanghai_word {
  display: block;
}
.content_2 .content_2-left:hover .shanghai_hover .shanghai_word .text_shanghai {
  opacity: 1;
}
.content_2 .content_2-left:hover .shanghai_hover .shanghai_word .text_shanghai-2 {
  opacity: 1;
}
.content_2 .content_2-left:hover .shanghai_hover .shanghai_word .text_shanghai-3 {
  opacity: 1;
}
.content_2 .cover_right {
  width: 50%;
  height: fit-content;
  overflow: hidden;
}
.content_2 .cover_right h3 {
  color: #20186d;
  font-size: 30px;
  font-family: "mediasansextended-black";
  letter-spacing: 1.49px;
  line-height: 1.15;
  margin: 20px 0 20px 40px;
}
.content_2 .content_2-right {
  position: relative;
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/pepsiLA.jpeg");
  overflow: hidden;
}
.content_2 .content_2-right .LA_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 2;
  background-color: #fee50900;
  transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  backdrop-filter: blur(26px);
  opacity: 0;
}
.content_2 .content_2-right .LA_hover .LA_word {
  display: none;
}
.content_2 .content_2-right .LA_hover .LA_word .text_LA {
  opacity: 0;
  color: white;
  font-size: 14px;
  letter-spacing: 1.34px;
  font-family: "mediasansextended-bold";
  margin-bottom: 30px;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.05s;
  padding-left: 2px;
}
.content_2 .content_2-right .LA_hover .LA_word .text_LA-2 {
  width: 590px;
  opacity: 0;
  color: white;
  font-size: 38.5px;
  line-height: 1.19;
  letter-spacing: -0.5px;
  font-family: "maisonneueextended-extrabold";
  font-weight: 500;
  margin-bottom: 200px;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.05s;
}
.content_2 .content_2-right .LA_hover .LA_word .text_LA-3 {
  position: relative;
  width: fit-content;
  color: white;
  font-size: 18px;
  font-family: "maisonneueextended-extrabold";
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0;
}
.content_2 .content_2-right .LA_hover .LA_word .text_LA-3::after {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 100%;
  bottom: -2px;
  left: 0;
  background-color: white;
}
.content_2 .content_2-right:hover .LA_hover {
  width: 100%;
  height: 100%;
  padding: 228px 0px 0px 40px;
  opacity: 1;
}
.content_2 .content_2-right:hover .LA_hover .LA_word {
  display: block;
}
.content_2 .content_2-right:hover .LA_hover .LA_word .text_LA {
  opacity: 1;
}
.content_2 .content_2-right:hover .LA_hover .LA_word .text_LA-2 {
  opacity: 1;
}
.content_2 .content_2-right:hover .LA_hover .LA_word .text_LA-3 {
  opacity: 1;
}

/* ---------------End Content Page 2------------- */
/* --------------- Content Page 3--------------- */
.content_3 {
  width: calc(100% - 80px);
  display: flex;
  margin-left: 40px;
  margin-top: 100px;
  overflow: hidden;
}
.content_3 .content_3-left {
  background-color: white;
  width: 50%;
  height: inherit;
  overflow: hidden;
}
.content_3 .content_3-left video {
  width: 100%;
  height: inherit;
}
.content_3 .content_3-right {
  background-color: #20186d;
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.content_3 .content_3-right::before {
  position: absolute;
  content: "";
  border-right: 30px solid #ffffff00;
  border-left: 30px solid #ff000000;
  width: 362px;
  height: 0;
  border-top: 30px solid #fff;
  top: 0px;
}
.content_3 .content_3-right::after {
  position: absolute;
  content: "";
  border-right: 30px solid #ff000000;
  border-left: 30px solid #ff000000;
  width: 362px;
  height: 0;
  border-bottom: 30px solid #fff;
  bottom: 0px;
}
.content_3 .content_3-right .content_3-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 119px;
  font-family: "mediasansextended-black";
  letter-spacing: 1.5px;
  line-height: 1.5;
}
.content_3 .content_3-right .content_3-word .pogba {
  position: relative;
}
.content_3 .content_3-right .content_3-word .pogba::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 20%;
  top: 32px;
  left: 0px;
  background-image: linear-gradient(90deg, #6548ff, #3ebdff);
}
.content_3 .content_3-right .content_3-word .pepsi_3-word {
  position: relative;
}
.content_3 .content_3-right .content_3-word .pepsi_3-word::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 20%;
  bottom: 22px;
  right: 0px;
  background-image: linear-gradient(90deg, #ff02dc, #ff1c48);
}
.content_3 .content_3-right .content_3-word .x_3-word {
  transition: 1s ease;
}
.content_3 .content_3-right .content_3-word .x_3-word:hover {
  transform: rotate(360deg);
  font-size: 150px;
}
.content_3 .content_3-right .trademark {
  list-style: none;
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}
.content_3 .content_3-right .trademark .pepsi_tm {
  display: flex;
  flex-direction: column;
  width: 50px;
  align-items: center;
}
.content_3 .content_3-right .mobile {
  display: none;
}

/* ---------------End Content Page 3------------- */
/* --------------- Content Page 4--------------- */
.content_4 {
  width: calc(100% - 80px);
  display: flex;
  margin-left: 40px;
  align-items: flex-start;
  margin-top: 100px;
  overflow: hidden;
}
.content_4 .content_4-right {
  background-color: white;
  width: 50%;
  height: inherit;
  padding-left: 20px;
  overflow: hidden;
}
.content_4 .content_4-right video {
  width: 100%;
  height: 309px;
  object-fit: cover;
}
.content_4 .content_4-right .content_4-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #20186d;
  font-size: 30px;
  font-family: "mediasansextended-black";
  letter-spacing: 1.5px;
  line-height: 1.2;
  position: relative;
  padding: 10px 10px 10px 15px;
}
.content_4 .content_4-right .content_4-word::after {
  content: "";
  position: absolute;
  height: 76%;
  width: 7px;
  top: 16px;
  left: 0px;
  background-image: linear-gradient(181deg, #2953f7, #ff00e4);
}
.content_4 .content_4-right .hoodie {
  height: 290px;
  background: rgba(255, 0, 0, 0);
  background-image: url("../img/pepsi_hoodie.jpeg");
  object-fit: cover;
  background-size: cover;
  margin-bottom: 1px;
}
.content_4 .content_4-left {
  background-color: #f6000000;
  width: 50%;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(354px, auto);
  overflow: hidden;
}
.content_4 .content_4-left .bright {
  transition: 0.3s linear;
}
.content_4 .content_4-left .bright:hover {
  filter: brightness(1.7);
  cursor: pointer;
}
.content_4 .content_4-left .left-1 {
  background-image: url("../img/light_topleft.jpeg");
  object-fit: cover;
  background-size: cover;
}
.content_4 .content_4-left .left-2 {
  background-image: url("../img/light_topright.jpeg");
  object-fit: cover;
  background-size: cover;
}
.content_4 .content_4-left .left-3 {
  background-image: url("../img/light_botleft.jpeg");
  object-fit: cover;
  background-size: cover;
}
.content_4 .content_4-left .left-4 {
  background-image: url("../img/light_botright.jpeg");
  object-fit: cover;
  background-size: cover;
}

/* ---------------End Content Page 4------------- */
/* --------------- Content Page 5--------------- */
#page_5 {
  margin-top: 100px;
}
#page_5 h1 {
  color: #20186d;
  font-size: 88px;
  font-family: "mediasansextended-black";
  letter-spacing: 1.49px;
  line-height: 1.15;
  margin: 20px 40px 20px 40px;
}
#page_5 .content_5 {
  display: flex;
  overflow: hidden;
}
#page_5 .content_5 .slider_left {
  background-color: rgba(255, 0, 0, 0);
  width: 50%;
  height: 900px;
  overflow: hidden;
  cursor: url("../img/swipecursor.svg"), auto;
}
#page_5 .content_5 .slider_left .swiper {
  width: 100%;
  height: 100%;
}
#page_5 .content_5 .slider_left .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(221, 255, 0, 0);
  /* Center slide text vertically */
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
#page_5 .content_5 .slider_left .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page_5 .content_5 .slider_right {
  background-color: rgba(0, 0, 255, 0);
  width: 50%;
  height: 900px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(430px, auto);
  cursor: url("../img/swipecursor.svg"), auto;
}
#page_5 .content_5 .slider_right .swiper {
  width: 100%;
  height: 100%;
}
#page_5 .content_5 .slider_right .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(221, 255, 0, 0);
  /* Center slide text vertically */
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
#page_5 .content_5 .slider_right .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#page_5 .content_5 .mobile-active {
  display: none;
}

/* ---------------End Content Page 5------------- */
/* --------------- Content Page 6--------------- */
#page_6 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  color: #20186d;
}
#page_6 .title_content {
  margin: auto;
  text-align: center;
}
#page_6 .title_content h1 {
  font-size: 45px;
  opacity: 1;
  font-weight: 400;
  margin: 0;
  line-height: 9rem;
  font-family: "mediasansextended-black";
}
#page_6 .social__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  width: 94.4%;
  height: auto;
  margin: auto;
  margin-top: 0;
  font-size: 0;
}
#page_6 .social__item-container .social__item {
  -webkit-box-flex: 1;
  flex: auto;
  width: 273.45px;
  position: relative;
  overflow: hidden;
  opacity: 1;
}
#page_6 .social__item-container .social__item img {
  width: 101%;
  height: auto;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
#page_6 .social__item-container .social__item img:hover {
  -webkit-transition: all 0.5s cubic-bezier(0.1, 1.05, 0.55, 1.49);
  transition: all 0.5s cubic-bezier(0.1, 1.05, 0.55, 1.49);
  -webkit-transform: scale(1.15) rotate(5deg);
  transform: scale(1.15) rotate(5deg);
  -webkit-filter: brightness(0.6);
  filter: brightness(0.6);
}
#page_6 .social__item-container .social__twitter:after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.9;
  background: url("https://www.pepsi.com/en-us/uploads/images/icon-twitter.svg?mtime=20180110134808") no-repeat 0 0;
  background-size: contain;
}
#page_6 .social__item-container .social__facebook:after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.9;
  background: url("https://www.pepsi.com/en-us/uploads/images/icon-facebook.svg?mtime=20180110134803") no-repeat 0 0;
  background-size: contain;
}
#page_6 .social__item-container .social__instagram:after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.9;
  background: url("https://www.pepsi.com/en-us/uploads/images/icon-instagram.svg?mtime=20180110134805") no-repeat 0 0;
  background-size: contain;
}
#page_6 .social__item-container .social__youtube:after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.9;
  background: url("https://www.pepsi.com/en-us/uploads/images/icon-youtube.svg?mtime=20180110134811") no-repeat 0 0;
  background-size: contain;
}
#page_6 .social__item-container .social__tiktok:after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.9;
  background: url("https://www.pepsi.com/en-us/uploads/images/icon-tiktok.svg") no-repeat 0 0;
  background-size: contain;
}

/* ---------------End Content Page 6------------- */
/* ---------------Products------------------- */
.bar2 {
  height: 2px;
  width: 20px;
  position: relative;
  background-color: black;
  z-index: -1;
}
.bar2::after, .bar2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: black;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
.bar2::after {
  top: 8px;
}
.bar2::before {
  bottom: 8px;
}

.active .bar2::before {
  bottom: 0;
}

.active .bar2::after {
  top: 0;
}

#header .nav-list .pdt a {
  color: #20186d;
}

#products {
  font-family: "Poppins", sans-serif;
  margin-top: 90px;
  padding: 40px;
  overflow: hidden;
}
#products .products_container {
  --spacing: 50px;
  --columns: 4;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  transform-style: preserve-3d;
}
#products .products_container .product {
  width: calc(100% / var(--columns) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  height: 400px;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  transform-style: preserve-3d;
  box-shadow: 0px 20px 69px 0px rgba(131, 143, 203, 0.42);
}
#products .products_container .product:hover::after {
  opacity: 0.1;
}
#products .products_container .product:hover::before {
  opacity: 0.1;
}
#products .products_container .product::before {
  content: "PEPSI";
  position: absolute;
  top: 20px;
  left: 35px;
  font-size: 9em;
  font-weight: 900;
  color: white;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}
#products .products_container .product::after {
  content: "CAN";
  position: absolute;
  bottom: 20px;
  right: 70px;
  font-size: 8rem;
  font-weight: 900;
  color: white;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}
#products .products_container .product .name {
  position: absolute;
  top: 0;
  left: 0px;
  text-align: center;
  color: white;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
  font-size: 17px;
}
#products .products_container .product:hover .name {
  top: 40px;
  opacity: 1;
}
#products .products_container .product .buy {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: white;
  background-color: #333;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
  font-size: 15px;
  border: 4px white solid;
}
#products .products_container .product:hover .buy {
  bottom: 30px;
  opacity: 1;
}
#products .products_container .product .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: 0.5s;
  background-color: white;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-50%, -50%, 50px);
  border: 8px white solid;
}
#products .products_container .product .item_prd {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 125px;
  transition: 0.5s;
  z-index: 15;
  transition: 0.5s;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 50px) rotate(0deg);
}
#products .products_container .product:hover .item_prd {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
}
#products .products_container .product:nth-child(1) .circle, #products .products_container .product:nth-child(1) .buy {
  background-color: #1974c9;
}
#products .products_container .product:nth-child(2) .circle, #products .products_container .product:nth-child(2) .buy {
  background-color: #333333;
}
#products .products_container .product:nth-child(3) .circle, #products .products_container .product:nth-child(3) .buy {
  background-color: #939393;
}
#products .products_container .product:nth-child(4) .circle, #products .products_container .product:nth-child(4) .buy {
  background-color: #cbc2a3;
}
#products .products_container .product:nth-child(5) .circle, #products .products_container .product:nth-child(5) .buy {
  background-color: #3955a3;
}
#products .products_container .product:nth-child(6) .circle, #products .products_container .product:nth-child(6) .buy {
  background-color: #ff9a32;
}
#products .products_container .product:nth-child(7) .circle, #products .products_container .product:nth-child(7) .buy {
  background-color: #ff9f3c;
}
#products .products_container .product:nth-child(8) .circle, #products .products_container .product:nth-child(8) .buy {
  background-color: #cb2b43;
}
#products .products_container .product:nth-child(9) .circle, #products .products_container .product:nth-child(9) .buy {
  background-color: #939393;
}
#products .products_container .product:nth-child(10) .circle, #products .products_container .product:nth-child(10) .buy {
  background-color: #d74389;
}
#products .products_container .product:nth-child(11) .circle, #products .products_container .product:nth-child(11) .buy {
  background-color: #1974c9;
}
#products .products_container .product:nth-child(12) .circle, #products .products_container .product:nth-child(12) .buy {
  background-color: #c9a961;
}
#products .products_container .product:nth-child(13) .circle, #products .products_container .product:nth-child(13) .buy {
  background-color: #cbcbcb;
}
#products .products_container .item-1:hover {
  background-color: #1974c9;
}
#products .products_container .item-2:hover {
  background-color: #333333;
}
#products .products_container .item-3:hover {
  background-color: #939393;
}
#products .products_container .item-4:hover {
  background-color: #cbc2a3;
}
#products .products_container .item-5:hover {
  background-color: #3955a3;
}
#products .products_container .item-6:hover {
  background-color: #ff9a32;
}
#products .products_container .item-7:hover {
  background-color: #ff9f3c;
}
#products .products_container .item-8:hover {
  background-color: #cb2b43;
}
#products .products_container .item-9:hover {
  background-color: #939393;
}
#products .products_container .item-10:hover {
  background-color: #d74389;
}
#products .products_container .item-11:hover {
  background-color: #1974c9;
}
#products .products_container .item-12:hover {
  background-color: #c9a961;
}
#products .products_container .item13:hover {
  background-color: #cbcbcb;
}

/* ---------------End Products--------------- */
/* ---------------About---------------------- */
#info {
  margin-top: 120px;
}
#info h3 {
  color: #20186d;
  font-size: 80px;
  font-family: "mediasansextended-black";
  letter-spacing: 1.49px;
  line-height: 1.15;
  margin: 20px 40px 20px 40px;
  text-align: center;
}
#info .info_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  background-color: rgba(255, 0, 0, 0);
  padding: 40px;
  overflow: hidden;
}
#info .info_container .info {
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  font-family: "Poppins";
  color: black;
  box-shadow: 0px 10px 30px 0px rgba(131, 143, 203, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
#info .info_container .info .address {
  padding-right: 20px;
}
#info .info_container .info .address h1 {
  font-size: 45px;
  line-height: 1.1;
  margin-bottom: 12px;
}
#info .info_container .info .address p {
  font-size: 18px;
  margin-bottom: 12px;
}
#info .info_container .info a {
  color: black;
  font-size: 14px;
}
#info .info_container .info img {
  margin-top: 12px;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}
#info .info_container .item-1 {
  background-color: #0000ff00;
}
#info .info_container .item-2 {
  background-color: #00ffff00;
}
#info .info_container .item-3 {
  background-color: #ffff0000;
}

/* ---------------End About------------------ */
/* ---------------Footer Content--------------- */
/* ---------------Footer Content--------------- */
.footer {
  display: flex;
  position: relative;
  width: auto;
  height: 29rem;
  flex-direction: column;
  background-color: #0065c3;
  overflow-x: hidden;
}
.footer .footer_logo img {
  widows: 101px;
  height: 101px;
  transition: 0.5s ease;
}
.footer .footer_logo img:hover {
  transform: rotate(360deg);
  animation-duration: 0.5s;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.footer .footer_container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2.5%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-evenly;
}
.footer .footer_container .footer_container-right .buttons {
  margin-top: 0px;
}
.footer .footer_container .footer_container-right img {
  width: 32px;
  height: 32px;
  transition: opacity 0.2s ease-out, 0.5s ease;
}
.footer .footer_container .footer_container-right img:hover {
  opacity: 0.6;
  transform: scale(1.2);
}
.footer .footer__linklist {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 4rem;
  column-gap: 3rem;
  color: white;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.1px;
}
.footer .footer__linklist .footer__link-item {
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}
.footer .footer__linklist .footer__link-item:hover {
  opacity: 0.6;
}
.footer .footer__social-container {
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin-top: 1rem;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}
.footer .footer__social-link {
  display: -webkit-box;
  display: flex;
  width: auto;
  height: 3rem;
  margin: auto;
}

/* ---------------End Footer Content--------------- */
/* ---------------End Footer Content--------------- */
/* ---------------Keyframe--------------- */
/* ------------------- Header section---------------- */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* -------------------End Header section---------------- */
/* -----------Content Page 1------------------ */
@keyframes blinker {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  36% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  42% {
    opacity: 1;
  }
  43% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes elastic-ease-out-right {
  0% {
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  62% {
    -webkit-transform: translate3d(2.5px, 0, 0);
    transform: translate3d(2.5px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-0.25px, 0, 0);
    transform: translate3d(-0.25px, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes elastic-ease-out-left {
  0% {
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  62% {
    -webkit-transform: translate3d(-2.5px, 0, 0);
    transform: translate3d(-2.5px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(0.25px, 0, 0);
    transform: translate3d(0.25px, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes linear-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* -----------End Content Page 1-------------- */
/* ---------------End Keyframe----------- */
/* -----------Media Query For Tablet---------- */
/* ---------------Media Query For Desktop--------------- */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }

  /* End header */
  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
/* ---------------End Media Query For Desktop----------- */
/* -----------Media Query For Tablet------------------ */
@media only screen and (max-width: 1024px) {
  #products .products_container {
    --spacing: 50px;
    --columns: 2;
  }

  .footer {
    height: 60%;
    min-height: 29rem;
    justify-content: space-around;
  }
  .footer .footer_logo img {
    width: 40px;
    height: 40px;
  }
  .footer .footer_container {
    flex-direction: column;
    height: fit-content;
    padding: 0px;
  }
  .footer .footer_container .footer_container-right .buttons {
    margin-top: 0px;
  }
  .footer .footer__linklist {
    column-count: 1;
    text-align: center;
    padding: 60px;
    font-size: 15px;
  }
  #info h3 {
    font-size: 44px;
  }
  #info .info_container {
    grid-template-columns: repeat(1, 1fr);
  }
  #info .info_container .info .address h1 {
    font-size: 22px;
  }
  #info .info_container .info .address p {
    font-size: 9px;
  }
  #info .info_container .info a {
    font-size: 7px;
  }

  #page_1 h3 {
    font-size: 40px;
    letter-spacing: 1.1px;
    margin: 20px 40px 20px 40px;
    text-align: center;
  }
  #page_1 .content {
    height: fit-content;
  }
  #page_1 .content .content_layout {
    flex-direction: column-reverse;
  }
  #page_1 .content .content_layout .content_left {
    margin-top: 100px;
  }
  #page_1 .content .content_layout .content_left h1 {
    font-size: 57px;
    width: 550px;
    letter-spacing: 1px;
    word-spacing: 0px;
    line-height: 1;
    text-align: center;
  }
  #page_1 .content .content_layout .content_left h1 .ilike_word {
    font-size: 145px;
    padding-right: 20px;
  }
  #page_1 .content .content_layout .content_left .pick {
    width: 550px;
    justify-content: space-evenly;
  }
  #page_1 .content .content_layout .content_left .pick lord-icon {
    display: none;
  }
  #page_1 .content .content_layout .content_left .buttons {
    margin: 30px 175px 0px 175px;
  }

  .content_3 {
    flex-direction: column;
  }
  .content_3 .content_3-left {
    width: 100%;
    height: 50%;
  }
  .content_3 .content_3-right {
    width: 100%;
    height: 900px;
  }
  .content_3 .content_3-right .content_3-word {
    font-size: 115px;
    letter-spacing: 1.2px;
    line-height: 1.5;
  }
  .content_3 .content_3-right .content_3-word .pogba::after {
    top: 29px;
  }
  .content_3 .content_3-right .content_3-word .pepsi_3-word::after {
    bottom: 19px;
  }
  .content_3 .content_3-right .content_3-word .x_3-word:hover {
    font-size: 140px;
  }
  .content_3 .content_3-right .trademark {
    display: flex;
    justify-content: space-between;
  }
  .content_3 .content_3-right .trademark .pepsi_tm {
    width: 25px;
  }
  .content_3 .content_3-right .mobile {
    display: none;
  }

  .content_2 .cover_left h3 {
    font-size: 26px;
    letter-spacing: 1.49px;
    line-height: 1.15;
  }
  .content_2 .content_2-left {
    cursor: pointer;
    height: 472px;
  }
  .content_2 .content_2-left:hover .shanghai_hover {
    opacity: 0;
  }
  .content_2 .cover_right h3 {
    font-size: 26px;
    letter-spacing: 1.49px;
    line-height: 1.15;
  }
  .content_2 .cover_right .content_2-right {
    cursor: pointer;
    height: 472px;
  }
  .content_2 .cover_right .content_2-right:hover .LA_hover {
    opacity: 0;
  }

  .content_4 {
    flex-direction: column;
  }
  .content_4 .content_4-right {
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
  }
  .content_4 .content_4-left {
    width: 100%;
  }

  #page_5 h1 {
    font-size: 50px;
  }
  #page_5 .content_5 .slider_left {
    width: 50%;
    height: 460px;
  }
  #page_5 .content_5 .slider_right {
    width: 50%;
    height: 460px;
    grid-auto-rows: minmax(210px, auto);
  }
  #page_5 .content_5 .mobile-none {
    display: none;
  }
  #page_5 .content_5 .active-left {
    display: block;
  }
  #page_5 .content_5 .active-right {
    display: grid;
  }
  #page_5 .content_5 .swiper-button-next {
    color: white;
  }
  #page_5 .content_5 .swiper-button-prev {
    color: white;
  }

  #page_6 .title_content {
    margin: auto;
    text-align: center;
    width: 91%;
  }
  #page_6 .title_content h1 {
    line-height: 7rem;
  }
  #page_6 .social__item-container {
    width: 88.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(175px, auto);
  }
  #page_6 .social__item-container .social__item {
    width: auto;
  }
  #page_6 .social__item-container .social__tiktok {
    grid-column: 1/3;
  }
}
/* --------------End Media Query For Tablet------------ */
/* ---------------Media Query For Mobile--------------- */
@media only screen and (max-width: 767px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  h1.section-title {
    font-size: 6rem;
  }

  .footer {
    height: 60%;
    min-height: 29rem;
    justify-content: center;
  }
  .footer .footer_logo img {
    width: 40px;
    height: 40px;
  }
  .footer .footer_container {
    flex-direction: column;
    height: fit-content;
    padding: 0px;
  }
  .footer .footer_container .footer_container-right .buttons {
    margin-top: 0px;
  }
  .footer .footer_container .footer_container-right .buttons .blob-btn {
    margin-bottom: 15px;
    font-size: 12px;
  }
  .footer .footer__linklist {
    column-count: 1;
    text-align: center;
    padding: 30px;
    font-size: 12px;
    line-height: 1.3;
  }
  #products {
    margin-top: 90px;
    padding: 20px;
    padding-top: 40px;
  }
  #products .products_container {
    --spacing: 25px;
    --columns: 1;
  }

  #info {
    margin-top: 90px;
  }
  #info h3 {
    font-size: 40px;
    margin: 10px 20px 10px 20px;
  }
  #info .info_container {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    gap: 20px;
  }
  #info .info_container .info .address h1 {
    font-size: 22px;
  }
  #info .info_container .info .address p {
    font-size: 9px;
  }
  #info .info_container .info a {
    font-size: 7px;
  }

  #page_1 h3 {
    font-size: 20px;
    letter-spacing: 1.1px;
    margin: 20px 30px 20px 30px;
    text-align: center;
  }
  #page_1 .content {
    height: fit-content;
  }
  #page_1 .content .content_layout {
    flex-direction: column-reverse;
  }
  #page_1 .content .content_layout .content_right .pepsi_can {
    max-width: 100%;
    height: auto;
  }
  #page_1 .content .content_layout .content_left {
    margin-top: 100px;
  }
  #page_1 .content .content_layout .content_left h1 {
    font-size: 39px;
    width: 393px;
    letter-spacing: 1px;
    word-spacing: 0px;
    line-height: 1;
    text-align: center;
  }
  #page_1 .content .content_layout .content_left h1 .ilike_word {
    font-size: 100px;
    padding-right: 20px;
  }
  #page_1 .content .content_layout .content_left .pick {
    justify-content: space-around;
    width: 390px;
  }
  #page_1 .content .content_layout .content_left .pick lord-icon {
    display: none;
  }
  #page_1 .content .content_layout .content_left .buttons {
    margin: 30px 105px 0px 105px;
  }

  .content_3 {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 30px;
    flex-direction: column;
  }
  .content_3 .content_3-left {
    width: 100%;
    height: 50%;
  }
  .content_3 .content_3-right {
    width: 100%;
    height: 480px;
  }
  .content_3 .content_3-right::before {
    border-right: 15px solid #ffffff00;
    border-left: 15px solid #ff000000;
    width: 181px;
    border-top: 15px solid #fff;
  }
  .content_3 .content_3-right::after {
    border-right: 15px solid #ff000000;
    border-left: 15px solid #ff000000;
    width: 181px;
    border-bottom: 15px solid #fff;
  }
  .content_3 .content_3-right .content_3-word {
    font-size: 55px;
    letter-spacing: 1.2px;
    line-height: 1.5;
  }
  .content_3 .content_3-right .content_3-word .pogba::after {
    top: 7px;
  }
  .content_3 .content_3-right .content_3-word .pepsi_3-word::after {
    bottom: 4px;
  }
  .content_3 .content_3-right .content_3-word .x_3-word:hover {
    font-size: 81px;
  }
  .content_3 .content_3-right .trademark,
.content_3 .content_3-right .mobile {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
  .content_3 .content_3-right .trademark .pepsi_tm,
.content_3 .content_3-right .mobile .pepsi_tm {
    width: 25px;
  }
  .content_3 .content_3-right .mobile-none {
    display: none;
  }

  .content_2 {
    flex-direction: column;
    margin-top: 50px;
  }
  .content_2 .cover_left {
    width: 100%;
    height: fit-content;
  }
  .content_2 .cover_left h3 {
    font-size: 22px;
    letter-spacing: 1.49px;
    line-height: 1.15;
    margin: 20px 20px 0px 20px;
  }
  .content_2 .content_2-left {
    background-position: -130px -152px;
    cursor: pointer;
    height: 472px;
    background-size: 285%;
  }
  .content_2 .content_2-left:hover .shanghai_hover {
    opacity: 0;
  }
  .content_2 .cover_right {
    width: 100%;
    height: fit-content;
    margin-top: 40px;
  }
  .content_2 .cover_right h3 {
    font-size: 22px;
    letter-spacing: 1.49px;
    line-height: 1.15;
    margin: 20px 20px 0px 20px;
  }
  .content_2 .cover_right .content_2-right {
    cursor: pointer;
    height: 472px;
  }
  .content_2 .cover_right .content_2-right:hover .LA_hover {
    opacity: 0;
  }

  .content_4 {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-top: 50px;
    flex-direction: column;
  }
  .content_4 .content_4-right {
    width: 100%;
    padding-top: 10px;
    padding-left: 0px;
  }
  .content_4 .content_4-right .content_4-word {
    font-size: 22px;
    padding: 5px 5px 5px 12px;
  }
  .content_4 .content_4-right .content_4-word::after {
    height: 85%;
    top: 10px;
  }
  .content_4 .content_4-left {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(165px, auto);
  }

  #page_5 h1 {
    font-size: 29px;
    margin: 10px 20px 10px 20px;
  }
  #page_5 .content_5 {
    flex-direction: column;
  }
  #page_5 .content_5 .slider_left {
    width: 100%;
    height: 460px;
  }
  #page_5 .content_5 .slider_right {
    width: 100%;
    height: 460px;
    grid-auto-rows: minmax(210px, auto);
  }
  #page_5 .content_5 .mobile-none {
    display: none;
  }
  #page_5 .content_5 .active-left {
    display: block;
  }
  #page_5 .content_5 .active-right {
    display: grid;
  }
  #page_5 .content_5 .swiper-button-next {
    color: white;
  }
  #page_5 .content_5 .swiper-button-prev {
    color: white;
  }

  #page_6 .title_content {
    margin: auto;
    text-align: center;
    width: 90%;
  }
  #page_6 .title_content h1 {
    font-size: 30px;
    line-height: 4rem;
  }
  #page_6 .social__item-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(175px, auto);
  }
  #page_6 .social__item-container .social__item {
    width: auto;
  }
  #page_6 .social__item-container .social__tiktok {
    grid-column: 1/3;
  }
}
/* ---------------End Media Query For Mobile----------- */
/* ---------End Media Query For Desktop------- */
/* sass ./scss/index.scss ./css/index.css --watch */

/*# sourceMappingURL=index.css.map */
