/* ------------------- Header section---------------- */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* -------------------End Header section---------------- */

/* -----------Content Page 1------------------ */
@keyframes blinker {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  23% {
    opacity: 0;
  }
  36% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  42% {
    opacity: 1;
  }
  43% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes elastic-ease-out-right {
  0% {
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }
  62% {
    -webkit-transform: translate3d(2.5px, 0, 0);
    transform: translate3d(2.5px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-0.25px, 0, 0);
    transform: translate3d(-0.25px, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes elastic-ease-out-left {
  0% {
    -webkit-transform: translate3d(-200px, 0, 0);
    transform: translate3d(-200px, 0, 0);
  }
  25% {
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }
  62% {
    -webkit-transform: translate3d(-2.5px, 0, 0);
    transform: translate3d(-2.5px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(0.25px, 0, 0);
    transform: translate3d(0.25px, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes linear-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* -----------End Content Page 1-------------- */
