.bar2 {
  height: 2px;
  width: 20px;
  position: relative;
  background-color: black;
  z-index: -1;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: $secondaryBlue;
    transition: 0.3s ease;
    transition-property: top, bottom;
  }

  &::after {
    top: 8px;
  }
  &::before {
    bottom: 8px;
  }
}
.active .bar2::before {
  bottom: 0;
}

.active .bar2::after {
  top: 0;
}

#body_product {
  // padding: 40px;
}
#header .nav-list .pdt a {
  color: $secondaryBlue;
}
#products {
  font-family: "Poppins", sans-serif;
  margin-top: 90px;
  padding: 40px;
  overflow: hidden;
  .products_container {
    --spacing: 50px;
    --columns: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    transform-style: preserve-3d;

    .product {
      width: calc(calc(100% / var(--columns)) - var(--spacing));
      margin-left: var(--spacing);
      margin-bottom: var(--spacing);
      height: 400px;
      position: relative;
      background-color: #ffffff;
      border-radius: 20px;
      transform-style: preserve-3d;
      box-shadow: 0px 20px 69px 0px rgb(131 143 203 / 42%);

      &:hover {
        &::after {
          opacity: 0.1;
        }
        &::before {
          opacity: 0.1;
        }
      }

      &::before {
        content: "PEPSI";
        position: absolute;
        top: 20px;
        left: 35px;
        font-size: 9em;
        font-weight: 900;
        color: white;
        font-style: italic;
        opacity: 0;
        transition: 0.5s;
      }
      &::after {
        content: "CAN";
        position: absolute;
        bottom: 20px;
        right: 70px;
        font-size: 8rem;
        font-weight: 900;
        color: white;
        font-style: italic;
        opacity: 0;
        transition: 0.5s;
      }

      .name {
        position: absolute;
        top: 0;
        left: 0px;
        text-align: center;
        color: white;
        width: 100%;
        transform-style: preserve-3d;
        transform: translate3d(0, 0, 75px);
        transition: 0.5s;
        opacity: 0;
        z-index: 10;
        font-size: 17px;
      }
      &:hover {
        .name {
          top: 40px;
          opacity: 1;
        }
      }

      .buy {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform-style: preserve-3d;
        transform: translate3d(-50%, 0, 75px);
        color: white;
        background-color: #333;
        padding: 10px 25px;
        border-radius: 30px;
        text-decoration: none;
        transition: 0.5s;
        opacity: 0;
        z-index: 10;
        font-size: 15px;
        border: 4px white solid;
      }

      &:hover {
        .buy {
          bottom: 30px;
          opacity: 1;
        }
      }

      .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        transition: 0.5s;
        background-color: white;
        transform-style: preserve-3d;
        z-index: 10;
        opacity: 1;
        transform: translate3d(-50%, -50%, 50px);
        border: 8px white solid;
      }

      .item_prd {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 125px;
        transition: 0.5s;
        z-index: 15;
        transition: 0.5s;
        transform-style: preserve-3d;
        transform: translate3d(-50%, -50%, 50px) rotate(0deg);
      }

      &:hover {
        .item_prd {
          transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
        }
      }

      &:nth-child(1) .circle,
      &:nth-child(1) .buy {
        background-color: #1974c9;
      }
      &:nth-child(2) .circle,
      &:nth-child(2) .buy {
        background-color: #333333;
      }
      &:nth-child(3) .circle,
      &:nth-child(3) .buy {
        background-color: #939393;
      }
      &:nth-child(4) .circle,
      &:nth-child(4) .buy {
        background-color: #cbc2a3;
      }
      &:nth-child(5) .circle,
      &:nth-child(5) .buy {
        background-color: #3955a3;
      }
      &:nth-child(6) .circle,
      &:nth-child(6) .buy {
        background-color: #ff9a32;
      }
      &:nth-child(7) .circle,
      &:nth-child(7) .buy {
        background-color: #ff9f3c;
      }
      &:nth-child(8) .circle,
      &:nth-child(8) .buy {
        background-color: #cb2b43;
      }
      &:nth-child(9) .circle,
      &:nth-child(9) .buy {
        background-color: #939393;
      }
      &:nth-child(10) .circle,
      &:nth-child(10) .buy {
        background-color: #d74389;
      }
      &:nth-child(11) .circle,
      &:nth-child(11) .buy {
        background-color: #1974c9;
      }
      &:nth-child(12) .circle,
      &:nth-child(12) .buy {
        background-color: #c9a961;
      }
      &:nth-child(13) .circle,
      &:nth-child(13) .buy {
        background-color: #cbcbcb;
      }
    }
    .item-1 {
      &:hover {
        background-color: #1974c9;
      }
    }
    .item-2 {
      &:hover {
        background-color: #333333;
      }
    }
    .item-3 {
      &:hover {
        background-color: #939393;
      }
    }
    .item-4 {
      &:hover {
        background-color: #cbc2a3;
      }
    }
    .item-5 {
      &:hover {
        background-color: #3955a3;
      }
    }
    .item-6 {
      &:hover {
        background-color: #ff9a32;
      }
    }
    .item-7 {
      &:hover {
        background-color: #ff9f3c;
      }
    }
    .item-8 {
      &:hover {
        background-color: #cb2b43;
      }
    }
    .item-9 {
      &:hover {
        background-color: #939393;
      }
    }
    .item-10 {
      &:hover {
        background-color: #d74389;
      }
    }
    .item-11 {
      &:hover {
        background-color: #1974c9;
      }
    }
    .item-12 {
      &:hover {
        background-color: #c9a961;
      }
    }
    .item13 {
      &:hover {
        background-color: #cbcbcb;
      }
    }
  }
}
