@import "css-reset";

/* -----------------Setup fonts------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&family=Ubuntu:wght@300;400;500;700&display=swap");
/* ----------------\/\/\/\/\/\/------------------ */

/* -----------------Setup FontFace------------------ */
@font-face {
  font-family: "mediasansextended-bold";
  src: url("../fonts/mediasansextended-bold-TRIAL.otf") format("opentype");
}
@font-face {
  font-family: "mediasansextended-black";
  src: url("../fonts/mediasansextended-black-TRIAL.otf") format("opentype");
}
@font-face {
  font-family: "maisonneueextended-extrabold";
  src: url("../fonts/MaisonNeueExtendedExtra-Bold.otf") format("opentype");
}
/* -----------------End Setup FontFace--------------- */

/* --------------Variable--------------- */
$white: #ffffff;
$borderW: 2px;
$primaryBlue: #0065c3;
$secondaryBlue: #20186d;
/* --------------End Variable----------- */

@import "scrollbar";
@import "cursor";

body {
  overflow-x: hidden;
  font-family: sans-serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* --------------Header section--------------- */
@import "header-section";
/* --------------End Header section----------- */

/* -----------Content Page 1------------------ */
#page_1 {
  h3 {
    color: $secondaryBlue;
    font-size: 88px;
    font-family: "mediasansextended-black";
    letter-spacing: 1.49px;
    line-height: 1.15;
    margin: 20px 128px 20px 128px;
  }
}
.content {
  background-image: url("../img/bluebg.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  transition: 0.5s;

  .content_layout {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .content_right {
      display: block;
      height: auto;
      animation: 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s forwards
          elastic-ease-out-right,
        0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s forwards linear-fade-in;
    }

    .content_left {
      animation: 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s forwards
          elastic-ease-out-left,
        0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s forwards linear-fade-in;
      h1 {
        font-size: 100px;
        color: white;
        font-weight: 900;
        line-height: 1.1;
        width: 530px;
        user-select: none;
        font-family: "mediasansextended-bold";
        letter-spacing: 7px;
        word-spacing: -5px;

        .that_word {
          animation: blinker 4s;
          animation-iteration-count: 1;
          animation-delay: 0.7s;
        }
        .what_word {
          animation: blinker 3s;
          animation-iteration-count: 1;
          animation-delay: 0.6s;
        }
        .ilike_word {
          animation: blinker 5s;
          animation-iteration-count: 1;
          animation-delay: 0.8s;
        }
      }

      .pick {
        list-style: none;
        width: 390px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;
        li {
          transition: 0.5s ease;
          cursor: pointer;
          &:hover {
            transform: translateY(-15px);
          }
        }
        img {
          max-width: 60px;
        }
      }
    }
  }
}

/* ---------------Button--------------- */
@import "button";
/* ---------------End Button--------------- */

/* ---------------End Content Page 1--------------- */

/* --------------- Content Page 2--------------- */
.content_2 {
  display: flex;
  overflow: hidden;
  margin-top: 100px;

  .cover_left {
    width: 50%;
    height: fit-content;
    overflow: hidden;

    h3 {
      color: $secondaryBlue;
      font-size: 30px;
      font-family: "mediasansextended-black";
      letter-spacing: 1.49px;
      line-height: 1.15;
      margin: 20px 0 20px 40px;
    }
  }

  .content_2-left {
    position: relative;
    width: 100%;
    height: 900px;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/pepsishanghai.png");
    overflow: hidden;

    .shanghai_hover {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      z-index: 2;
      background-color: #3ce2cc00;
      transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      backdrop-filter: blur(26px);
      opacity: 0;

      .shanghai_word {
        display: none;
        .text_shanghai {
          opacity: 0;
          color: white;
          font-size: 14px;
          letter-spacing: 1.34px;
          font-family: "mediasansextended-bold";
          margin-bottom: 30px;
          transition: opacity 3s cubic-bezier(0.19, 1, 0.22, 1) 0.05s;
          padding-left: 2px;
        }

        .text_shanghai-2 {
          width: 590px;
          opacity: 0;
          color: white;
          font-size: 38.5px;
          line-height: 1.19;
          letter-spacing: -0.5px;
          font-family: "maisonneueextended-extrabold";
          font-weight: 500;
          margin-bottom: 200px;
          transition: opacity 3s cubic-bezier(0.19, 1, 0.22, 1) 0.05s;
        }

        .text_shanghai-3 {
          position: relative;
          width: fit-content;
          color: white;
          font-size: 18px;
          font-family: "maisonneueextended-extrabold";
          line-height: normal;
          letter-spacing: 1px;
          cursor: pointer;
          opacity: 0;

          &::after {
            content: "";
            position: absolute;
            height: 2.5px;
            width: 100%;
            bottom: -2px;
            left: 0;
            background-color: white;
          }
        }
      }
    }

    &:hover {
      .shanghai_hover {
        width: 100%;
        height: 100%;
        padding: 228px 0px 0px 40px;
        opacity: 1;

        .shanghai_word {
          display: block;
          .text_shanghai {
            opacity: 1;
          }
          .text_shanghai-2 {
            opacity: 1;
          }
          .text_shanghai-3 {
            opacity: 1;
          }
        }
      }
    }
  }
  //-----------------------------RIGHT
  .cover_right {
    width: 50%;
    height: fit-content;
    overflow: hidden;

    h3 {
      color: $secondaryBlue;
      font-size: 30px;
      font-family: "mediasansextended-black";
      letter-spacing: 1.49px;
      line-height: 1.15;
      margin: 20px 0 20px 40px;
    }
  }

  .content_2-right {
    position: relative;
    width: 100%;
    height: 900px;
    background-size: cover;
    background-position: center center;
    background-image: url("../img/pepsiLA.jpeg");
    overflow: hidden;

    .LA_hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      z-index: 2;
      background-color: #fee50900;
      transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      backdrop-filter: blur(26px);
      opacity: 0;

      .LA_word {
        display: none;
        .text_LA {
          opacity: 0;
          color: white;
          font-size: 14px;
          letter-spacing: 1.34px;
          font-family: "mediasansextended-bold";
          margin-bottom: 30px;
          transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.05s;
          padding-left: 2px;
        }

        .text_LA-2 {
          width: 590px;
          opacity: 0;
          color: white;
          font-size: 38.5px;
          line-height: 1.19;
          letter-spacing: -0.5px;
          font-family: "maisonneueextended-extrabold";
          font-weight: 500;
          margin-bottom: 200px;
          transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.05s;
        }

        .text_LA-3 {
          position: relative;
          width: fit-content;
          color: white;
          font-size: 18px;
          font-family: "maisonneueextended-extrabold";
          line-height: normal;
          letter-spacing: 1px;
          cursor: pointer;
          opacity: 0;

          &::after {
            content: "";
            position: absolute;
            height: 2.5px;
            width: 100%;
            bottom: -2px;
            left: 0;
            background-color: white;
          }
        }
      }
    }
    &:hover {
      .LA_hover {
        width: 100%;
        height: 100%;
        padding: 228px 0px 0px 40px;
        opacity: 1;

        .LA_word {
          display: block;
          .text_LA {
            opacity: 1;
          }
          .text_LA-2 {
            opacity: 1;
          }
          .text_LA-3 {
            opacity: 1;
          }
        }
      }
    }
  }
}
/* ---------------End Content Page 2------------- */

/* --------------- Content Page 3--------------- */
.content_3 {
  width: calc(100% - 80px);
  display: flex;
  margin-left: 40px;
  margin-top: 100px;
  overflow: hidden;

  .content_3-left {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: inherit;
    overflow: hidden;

    video {
      width: 100%;
      height: inherit;
    }
  }
  .content_3-right {
    background-color: $secondaryBlue;
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      border-right: 30px solid #ffffff00;
      border-left: 30px solid #ff000000;
      width: 362px;
      height: 0;
      border-top: 30px solid #fff;
      top: 0px;
    }

    &::after {
      position: absolute;
      content: "";
      border-right: 30px solid #ff000000;
      border-left: 30px solid #ff000000;
      width: 362px;
      height: 0;
      border-bottom: 30px solid #fff;
      bottom: 0px;
    }

    .content_3-word {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ffffff;
      font-size: 119px;
      font-family: "mediasansextended-black";
      letter-spacing: 1.5px;
      line-height: 1.5;

      .pogba {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          height: 10px;
          width: 20%;
          top: 32px;
          left: 0px;
          background-image: linear-gradient(90deg, #6548ff, #3ebdff);
        }
      }

      .pepsi_3-word {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          height: 10px;
          width: 20%;
          bottom: 22px;
          right: 0px;
          background-image: linear-gradient(90deg, #ff02dc, #ff1c48);
        }
      }

      .x_3-word {
        transition: 1s ease;
        &:hover {
          transform: rotate(360deg);
          font-size: 150px;
        }
      }
    }

    .trademark {
      list-style: none;
      display: flex;
      width: 30%;
      justify-content: space-around;
      align-items: center;

      .pepsi_tm {
        display: flex;
        flex-direction: column;
        width: 50px;
        align-items: center;
      }
    }
  }
}
/* ---------------End Content Page 3------------- */

/* --------------- Content Page 4--------------- */
.content_4 {
  width: calc(100% - 80px);
  display: flex;
  margin-left: 40px;
  align-items: flex-start;
  margin-top: 100px;
  overflow: hidden;

  .content_4-right {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: inherit;
    padding-left: 20px;
    overflow: hidden;

    video {
      width: 100%;
      height: 309px;
      object-fit: cover;
    }

    .content_4-word {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $secondaryBlue;
      font-size: 30px;
      font-family: "mediasansextended-black";
      letter-spacing: 1.5px;
      line-height: 1.2;
      position: relative;
      padding: 10px 10px 10px 15px;

      &::after {
        content: "";
        position: absolute;
        height: 76%;
        width: 7px;
        top: 16px;
        left: 0px;
        background-image: linear-gradient(181deg, #2953f7, #ff00e4);
      }
    }

    .hoodie {
      height: 290px;
      background: rgba(255, 0, 0, 0);
      background-image: url("../img/pepsi_hoodie.jpeg");
      object-fit: cover;
      background-size: cover;
      margin-bottom: 1px;
    }
  }

  .content_4-left {
    background-color: #f6000000;
    width: 50%;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(354px, auto);
    overflow: hidden;

    .left-1 {
      background-image: url("../img/light_topleft.jpeg");
      object-fit: cover;
      background-size: cover;
    }
    .left-2 {
      background-image: url("../img/light_topright.jpeg");
      object-fit: cover;
      background-size: cover;
    }
    .left-3 {
      background-image: url("../img/light_botleft.jpeg");
      object-fit: cover;
      background-size: cover;
    }
    .left-4 {
      background-image: url("../img/light_botright.jpeg");
      object-fit: cover;
      background-size: cover;
    }
  }
}
/* ---------------End Content Page 4------------- */

/* --------------- Content Page 5--------------- */
#page_5 {
  margin-top: 100px;
  h1 {
    color: #20186d;
    font-size: 88px;
    font-family: "mediasansextended-black";
    letter-spacing: 1.49px;
    line-height: 1.15;
    margin: 20px 40px 20px 40px;
  }

  .content_5 {
    display: flex;
    overflow: hidden;

    .slider_left {
      background-color: red;
      width: 50%;
      height: 900px;
      overflow: hidden;
      cursor: url("../img/swipecursor.svg"), auto;

      .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: rgba(221, 255, 0, 0);

          /* Center slide text vertically */
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    .slider_right {
      background-color: rgba(0, 0, 255, 0);
      width: 50%;
      height: 900px;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0px;
      grid-auto-rows: minmax(430px, auto);
      cursor: url("../img/swipecursor.svg"), auto;

      .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: rgba(221, 255, 0, 0);

          /* Center slide text vertically */
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
/* ---------------End Content Page 5------------- */

/* --------------- Content Page 6--------------- */
#page_6 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  color: $secondaryBlue;
  // margin-top: 100px;

  .title_content {
    margin: auto;
    text-align: center;

    h1 {
      font-size: 45px;
      opacity: 1;
      font-weight: 400;
      margin: 0;
      line-height: 9rem;
      font-family: "mediasansextended-black";
    }
  }

  .social__item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    width: 94.4%;
    height: auto;
    margin: auto;
    margin-top: 0;
    font-size: 0;

    .social__item {
      -webkit-box-flex: 1;
      flex: auto;
      width: 273.45px;
      position: relative;
      overflow: hidden;
      // -webkit-transform: translate3d(0, 400px, 0);
      // transform: translate3d(0, 400px, 0);
      opacity: 1;

      img {
        width: 101%;
        height: auto;
        -webkit-transition: -webkit-transform 0.3s ease-out;
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;

        &:hover {
          -webkit-transition: all 0.5s cubic-bezier(0.1, 1.05, 0.55, 1.49);
          transition: all 0.5s cubic-bezier(0.1, 1.05, 0.55, 1.49);
          -webkit-transform: scale(1.15) rotate(5deg);
          transform: scale(1.15) rotate(5deg);
          -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
        }
      }
    }

    .social__twitter:after {
      content: "";
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      display: block;
      width: 32px;
      height: 32px;
      opacity: 0.9;
      background: url("https://www.pepsi.com/en-us/uploads/images/icon-twitter.svg?mtime=20180110134808")
        no-repeat 0 0;
      background-size: contain;
    }
    .social__facebook:after {
      content: "";
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      display: block;
      width: 32px;
      height: 32px;
      opacity: 0.9;
      background: url("https://www.pepsi.com/en-us/uploads/images/icon-facebook.svg?mtime=20180110134803")
        no-repeat 0 0;
      background-size: contain;
    }
    .social__instagram:after {
      content: "";
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      display: block;
      width: 32px;
      height: 32px;
      opacity: 0.9;
      background: url("https://www.pepsi.com/en-us/uploads/images/icon-instagram.svg?mtime=20180110134805")
        no-repeat 0 0;
      background-size: contain;
    }
    .social__youtube:after {
      content: "";
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      display: block;
      width: 32px;
      height: 32px;
      opacity: 0.9;
      background: url("https://www.pepsi.com/en-us/uploads/images/icon-youtube.svg?mtime=20180110134811")
        no-repeat 0 0;
      background-size: contain;
    }
    .social__tiktok:after {
      content: "";
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      display: block;
      width: 32px;
      height: 32px;
      opacity: 0.9;
      background: url("https://www.pepsi.com/en-us/uploads/images/icon-tiktok.svg")
        no-repeat 0 0;
      background-size: contain;
    }
  }
}
/* ---------------End Content Page 6------------- */

/* ---------------Products------------------- */
@import "products";
/* ---------------End Products--------------- */


/* ---------------Footer Content--------------- */
@import "footer";
/* ---------------End Footer Content--------------- */

/* ---------------Keyframe--------------- */
@import "keyframe";
/* ---------------End Keyframe----------- */

/* -----------Media Query For Tablet---------- */
@import "media-responsive";
/* ---------End Media Query For Desktop------- */

/* sass ./scss/index.scss ./css/index.css --watch */
